.login-screen .users .user {
  margin: 10px 0;
}

.nav-avatar {
  max-height: 25px;
}

.term h3 a {
  display: inline-block;
  border-bottom: 1px dashed #000;
  text-decoration: none;
}

.definition {
  display: flex;
  align-items: baseline;
}

.definition-index {
  display: inline-block;
  margin-left: 20px;
  font-size: x-large;
}

.definition-content {
  display: inline-block;
  margin-left: 20px;
}

.add-term {
  margin-top: 10px;
}

.add-definition-section {
  margin-top: 10px;
  margin-left: 20px;
}