.login-screen .users .user {
  margin: 10px 0;
}

.nav-avatar {
  max-height: 25px;
}

.term h3 a {
  display: inline-block;
  border-bottom: 1px dashed #000;
  text-decoration: none;
}

.definition {
  display: flex;
  align-items: baseline;
}

.definition-index {
  display: inline-block;
  margin-left: 20px;
  font-size: x-large;
}

.definition-content {
  display: inline-block;
  margin-left: 20px;
}

.add-term {
  margin-top: 10px;
}

.add-definition-section {
  margin-top: 10px;
  margin-left: 20px;
}

.user-select-component {
  cursor: pointer;
  padding: 5px;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.submitted-by {
  margin-left: 20px;
  font-size: small;
}